.card {
    position: relative;
    width: 100%;
    padding: 16px 36px 18px 36px;
    background-color: #ffffff;
}
.with-padding {
    padding: 16px 16px 0 36px;
}
.with-padding-no-top {
    padding: 0 16px 0 36px;
}
.with-h {
    height: 200px;
}
.card.p-0 {
    padding: 0;
}
.card.h-full {
    height: 200px !important;
}
.card .body-card {
    position: relative;
    height: 81%;
    width: 100%;
}
.card .body-card .avatar {
    height: 40px;
    border-radius: 100%;
}
.card .body-card .key-card {
    color: #ff0000 !important;
    font-size: 15px !important;
    font-weight: 700;
    margin-bottom: 4px;
}
.card .body-card .value-card {
    color: #000000 !important;
    font-size: 13px !important;
    margin-bottom: 8px;
}
.card .body-card .content-card {
    background-color: #d1d5db;
    width: 100%;
    padding: 18px;
    font-size: 14px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    color: #000000;
}
.card .body-card .avatar img {
    border-radius: 100%;
    height: 100%;
}
.card .effect-hover {
    cursor: pointer;
}
#monitoring.body-card .row {
    margin-bottom: 24px;
    position: relative;
}

.card .body-card .line-v {
    width: 100%;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    border-top: 1px solid #f3f4f6;
}

.card .footer-card {
    text-align: center;
    position: absolute;
    padding-top: 8px;
    bottom: 0;
    left: 0;
    height: 40px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    width: 100%;
    background-color: #f3f4f6;
    box-shadow: 0 -0.5px 5px #d1d5db;
}
.card .footer-card .load-all {
    color: #000000 !important;
    font-size: 15px !important;
    font-weight: bold;
}
.card h5 {
    font-size: 20px !important;
    margin-bottom: 24px;
}
.sub-card-value {
    padding-top: 12px;
    font-size: 24px !important;
    font-weight: bold;
    color: #1d4ed8;
}
.sub-card-title {
    font-size: 0.75rem !important;
}
.select-custom {
    font-size: 15px !important;
    border-radius: 10px;
}
.field-custom {
    font-size: 15px !important;
    border-radius: 10px;
    padding-left: 40px;
}
.search-data {
    position: relative;
    width: 100%;
}
.search-data .append-icon {
    position: absolute;
    bottom: 12px;
    left: 12px;
}
.search-data .append-icon i {
    font-size: 20px;
    color: #d1d5db;
}
#table-data tbody td.status {
    color: #1d4ed8;
    font-weight: bold;
}

#table-data thead tr th,
#table-data tbody tr td {
    font-size: 14px !important;
}
.table-scroll {
    position: relative;
    overflow: hidden;
    height: 250px;
}
.with-padding-px {
    padding-left: 36px;
    padding-right: 16px;
}
.with-padding-pl {
    padding-left: 36px;
}
.header-bottomsheet {
    padding: 8px 16px 0 36px;
}
.header-bottomsheet p {
    margin-bottom: 4px;
}
.header-bottomsheet h6 {
    font-size: 24px !important;
    color: #ff0000 !important;
    font-weight: 700 !important;
}
.nav-custom .nav-item a {
    font-size: 15px !important;
    color: #000000 !important;
}
.nav-custom .nav-item a.active {
    color: #ff0000 !important;
}
.nav-tabs.separator-tabs .nav-item.show .nav-link::before,
.nav-tabs.separator-tabs .nav-link.active::before {
    background: #ff0000 !important;
}
#table-detail.table tbody tr td p {
    font-size: 14px !important;
    color: #000000 !important;
}
#table-detail.table tbody tr .label-table {
    font-weight: 600 !important;
}
.tab-content h5 {
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #000000 !important;
}
.tab-content.content-height {
    position: relative;
    height: 382px;
}
ul.timeline {
    list-style: none;
    position: relative;
    padding-inline-start: 16px;
}
ul.timeline::before {
    content: "";
    background-color: #d4d9df;
    display: inline-block;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 0;
    z-index: 10;
}
ul.timeline > li:not(:first-child) {
    margin: 16px 0;
}
ul.timeline > li::before {
    content: "";
    background-color: #ff0000;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    left: -4.5px;
    width: 12px;
    height: 12px;
    z-index: 10;
}
ul.timeline > li > .date-timeline {
    margin-bottom: 4px;
}
ul.timeline > li .note-timeline {
    width: 100%;
    margin-top: 12px;
    background-color: #e5e7eb;
    padding: 16px;
    font-size: 14px !important;
    color: #000000 !important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
}
ul.timeline > li .information-timeline span,
ul.timeline > li .information-timeline p {
    font-size: 14px !important;
    color: #000000 !important;
}
ul.timeline > li .information-timeline .apv-timeline span {
    font-weight: bold !important;
}
ul.timeline
    > li
    .information-timeline
    .invoice-timeline
    span:not(:first-child) {
    font-weight: bold !important;
}
ul.timeline > li .information-timeline {
    display: flex;
    flex-direction: row;
    position: relative;
}
ul.timeline > li .information-timeline div {
    margin-right: 16px;
}
ul.timeline > li .information-timeline .apv-timeline::after {
    content: "";
    border-left: 1.5px solid #9ca3af;
    height: 18px;
    width: 18px;
    position: absolute;
    margin: 0 8px;
    /* right: 0; */
}

main {
    margin-top: 60px !important;
    margin-bottom: 0px !important;
}

.top-menu {
    position: fixed;
    top: 60px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3pt 6pt 0 hsla(0, 0%, 0%, 0.16);
    border-radius: 0.75rem;
    overflow: hidden;
    z-index: 3;
}

.navbar-top {
    height: 60px;
    width: 100%;
}
.navbar-top a.active > i,
.navbar-top a.active > h6 {
    color: var(--theme-color-1);
}

.table-profile td,
.table-profile th {
    padding: 2px !important;
}
.col-grid {
    display: grid !important;
}
