.logo {
    height: 45px;
}
.logo-mobile {
    background: url("{{ asset('asset_elite/images/sai_icon/logo.png') }}")
        no-repeat;
    background-size: 30px;
    width: 30px;
}
a > span.d-inline-block {
    max-width: 170px !important;
    height: auto !important;
}

.sub-menu {
    width: 265px !important;
}

@media (max-width: 1439px) {
    .sub-menu {
        width: 265px;
    }
}
@media (max-width: 1199px) {
    .sub-menu {
        width: 265px;
    }
}
@media (max-width: 767px) {
    .sub-menu {
        width: 265px;
    }
}

#app-container.sub-hidden .sub-menu,
#app-container.menu-sub-hidden .sub-menu,
#app-container.menu-hidden .sub-menu {
    transform: translateX(-265px);
}
@media (max-width: 1439px) {
    #app-container.sub-hidden .sub-menu,
    #app-container.menu-sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
        transform: translateX(-265px);
    }
}
@media (max-width: 1199px) {
    #app-container.sub-hidden .sub-menu,
    #app-container.menu-sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
        transform: translateX(-265px);
    }
}
@media (max-width: 767px) {
    #app-container.sub-hidden .sub-menu,
    #app-container.menu-sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
        transform: translateX(-265px);
    }
}

#app-container.main-hidden.sub-hidden .sub-menu,
#app-container.menu-hidden .sub-menu {
    transform: translateX(-385px);
}
@media (max-width: 1439px) {
    #app-container.main-hidden.sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
        transform: translateX(-375px);
    }
}
@media (max-width: 1199px) {
    #app-container.main-hidden.sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
        transform: translateX(-365px);
    }
}
@media (max-width: 767px) {
    #app-container.main-hidden.sub-hidden .sub-menu,
    #app-container.menu-hidden .sub-menu {
        transform: translateX(-355px);
    }
}

#app-container.menu-mobile .sub-menu {
    transform: translateX(-405px);
}

#app-container.main-show-temporary .sub-menu {
    transform: translateX(-265px);
}

@media (max-width: 1439px) {
    #app-container.main-show-temporary .sub-menu {
        transform: translateX(-265px);
    }
}

@media (max-width: 1199px) {
    #app-container.main-show-temporary .sub-menu {
        transform: translateX(-265px);
    }
}

@media (max-width: 767px) {
    #app-container.main-show-temporary .sub-menu {
        transform: translateX(-265px);
    }
}

#app-container.sub-show-temporary .sub-menu,
#app-container.menu-mobile.sub-show-temporary .sub-menu,
#app-container.menu-main-hidden.menu-mobile.main-show-temporary .sub-menu {
    transform: translateX(0);
}
.modal-content {
    border-radius: 0.75rem !important;
}

body {
    display: unset;
}
.modal-header {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    height: 49px !important;
}

.modal-header > h6 {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    height: unset !important;
}

.close {
    line-height: 1.5;
    padding: 0 !important;
    background: none;
    appearance: unset;
    opacity: unset;
    position: relative;
    right: -40px !important;
    top: 5px !important;
    margin-right: 0 !important;
}
.close > span {
    border-radius: 50%;
    padding: 0 0.45rem 0.1rem 0.45rem;
    background: white;
    color: black;
    font-size: 1.2rem !important;
    font-weight: lighter;
    box-shadow: 0px 1px 5px 1px #80808054;
}

.close > span:hover {
    color: white;
    background: red;
}
