@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
body {
    font-family: "Roboto", sans-serif !important;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
p,
li,
ul,
a,
input,
select {
    font-family: "Roboto", sans-serif !important;
}
h1 {
    font-size: 4rem !important;
}

h2 {
    font-size: 3.052rem !important;
}

h3 {
    font-size: 2.441rem !important;
}

h4 {
    font-size: 1.953rem !important;
}

h5 {
    font-size: 1.875rem !important;
}

h6 {
    font-size: 1.25rem !important;
}

button,
label {
    font-size: 0.75rem !important;
}

p,
li,
ul,
a,
input,
select,
textarea,
span[class*="info-code"],
span[class*="info-name"],
.selectize-input,
span {
    font-size: 0.8rem !important;
}
.bootstrap-tagsinput {
    font-size: 0.8rem !important;
}
.logo-single {
    background: url("{{ asset('img/SAKU2021.svg') }}") no-repeat;
    background-size: 150px;
    background-position-y: center;
    width: 160px;
    height: 45px;
    margin-bottom: 30px;
}
.form-side {
    margin: 0 auto;
}
input {
    border-radius: 10px !important;
}
/* button{
            border-radius: 15px !important;
        } */
.footer-content {
    width: 60%;
    padding: 0 150px;
}
@media (max-width: 991px) {
    .footer-content {
        width: 100%;
        padding: 0;
    }
}
#span-password {
    position: absolute;
    cursor: text;
    font-size: 90%;
    opacity: 1;
    top: -0.4em;
    left: 0.75rem;
    z-index: 3;
    line-height: 1;
    padding: 0 1px;
}

#btn-eye {
    top: 0px;
    right: 10px;
    left: unset;
    width: 40px;
    height: 40px;
    background: url("{{ asset('img/hide.svg') }}") no-repeat;
    background-blend-mode: lighten;
    background-size: 22px;
    background-position-x: center;
    background-position-y: center;
    opacity: 0.5;
    cursor: pointer;
}
#btn-lihat {
    position: absolute;
    top: 36px;
    font-size: 0.75rem !important;
    right: 25px;
    left: unset;
    height: 40px;
    opacity: 0.5;
    cursor: pointer;
}

.btn {
    border-radius: 8px !important;
}

.form-control {
    padding: 0.1rem 0.5rem;
    height: calc(1.3rem + 1rem);
    border-radius: 0.5rem !important;
}

.auth-card .form-side {
    width: 50%;
    padding: 80px;
}
.logo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 299px;
    margin-bottom: 30px;
}
.logo-container > ._logo {
    height: 45px;
    width: 160px;
}
@media (max-width: 991px) {
    .auth-card .image-side {
        width: 100%;
        padding: 30px;
    }
    .auth-card .form-side {
        width: 100%;
        padding: 30px;
    }
}
