/* SYMBOL */
.table-legend .symbol {
    height: 0.9rem;
    border-radius: 100%;
    margin-top: 0.15rem;
    width: 0.9rem;
}
/* END SYMBOL */

/* CARD */
.card-dash .card-header {
    padding-bottom: 0;
}
.card-dash .card-body {
    padding-top: 0;
    padding-bottom: 0.5rem;
}
/* END CARD */
