.col-2dot4,
.col-sm-2dot4,
.col-md-2dot4,
.col-lg-2dot4,
.col-xl-2dot4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}
@media (min-width: 540px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 720px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 960px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}
@media (min-width: 1140px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.small-box{
    border-radius: 0 !important;
}
.bg-red{
    background: #dd4b39 !important; 
}
.bg-yellow{
    background: #f39c12 !important; 
}
.bg-purple{
    background: #605ca8 !important; 
}
.bg-aqua{
    background: #00c0ef !important; 
}
.bg-blue{
    background: #0073b7 !important; 
}

.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.small-box>.inner {
    padding: 10px
}

.small-box>.small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 2;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none
}

.small-box>.small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15)
}

.small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
    color: white !important;
}

.small-box p {
    font-size: 15px;
    color: white !important;
}

.small-box p>small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px
}

.small-box h3,
.small-box p {
    z-index: 5;
}

.small-box .icon {
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15)
}

.small-box:hover {
    text-decoration: none;
    color: #f9f9f9
}

.small-box:hover .icon {
    font-size: 95px
}

@media (max-width:767px) {
    .small-box {
        text-align: center
    }
    .small-box .icon {
        display: none
    }
    .small-box p {
        font-size: 12px
    }
}
.card{
    border-radius:0 !important;
    margin-bottom: 20px;
    box-shadow: none !important
}
.menu{
    z-index: 11;
}
.sub-menu{
    z-index: 10;
}
th{
    text-align:center;
}
.card-header,.card-body{
    border-radius: 0 !important;
}
.card-primary {
    border: 1px solid #3c8dbc
}

.card-primary>.card-header {
    color: #fff;
    background: #3c8dbc;
    background-color: #3c8dbc;
}

.card-primary>.card-header a,
.card-primary>.card-header .btn {
    color: #fff
}

.card-info {
    border: 1px solid #00c0ef
}

.card-info>.card-header {
    color: #fff;
    background: #00c0ef;
    background-color: #00c0ef
}

.card-info>.card-header a,
.card-info>.card-header .btn {
    color: #fff
}

.card-danger {
    border: 1px solid #dd4b39
}

.card-danger>.card-header {
    color: #fff;
    background: #dd4b39;
    background-color: #dd4b39
}

.card-danger>.card-header a,
.card-danger>.card-header .btn {
    color: #fff
}

.card-warning {
    border: 1px solid #f39c12
}

.card-warning>.card-header {
    color: #fff;
    background: #f39c12;
    background-color: #f39c12
}

.card-warning>.card-header a,
.card-warning>.card-header .btn {
    color: #fff
}

.card-success {
    border: 1px solid #00a65a
}

.card-success>.card-header {
    color: #fff;
    background: #00a65a;
    background-color: #00a65a
}

.card-success>.card-header a,
.card-success>.card-header .btn {
    color: #fff
}

.btn-outline-light:hover {
    color: #131113 !important;
    background-color: #ececec !important;
    border-color: #ececec !important;
}
.btn-outline-light {
    color: black !important;
    background-color: white !important;
    border-color: white !important;
}

.header-dash{
    background-color: white;
    position: fixed;
    top: 9%;
    margin: 0;
    margin-bottom: 0px;
    padding: 25px 0;
    padding-right: 25px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    width: 100%;
    z-index: 5;
}

@media (min-width: 340px) {
    .header-dash {
        top: 4.5%;
    }
}
@media (min-width: 720px) {
    .header-dash {
        top: 5%;
    }
}
@media (min-width: 960px) {
    .header-dash {
        top: 9%
    }
}
@media (min-width: 1140px) {
    .header-dash {
        top: 9%;
    }
}