/* GLOBAL */
.cursor-pointer {
    cursor: pointer;
}
.hidden {
    display: none;
}
.bold-700 {
    font-weight: 700;
}
.p-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 4px !important;
    padding-left: 4px !important;
}
.pb-2 {
    padding-bottom: 2px;
}
.pb-24 {
    padding-bottom: 24px;
}
.pl-0 {
    padding-left: 0;
}
.pl-1 {
    padding-left: 1px;
}
.pl-2 {
    padding-left: 2px;
}
.pl-8 {
    padding-left: 8px;
}
.pl-12 {
    padding-left: 12px;
}
.pr-0 {
    padding-right: 0;
}
.pr-8 {
    padding-right: 8px;
}
.pr-12 {
    padding-right: 12px;
}
.pt-2 {
    padding-top: 2px;
}
.pt-8 {
    padding-top: 8px;
}
.pt-16 {
    padding-top: 16px;
}
.py-3 {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}
.py-4 {
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.ml-8 {
    margin-left: 8px !important;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-6 {
    margin-bottom: 6px !important;
}
.mt-4 {
    margin-top: 4px !important;
}
.mt-6 {
    margin-top: 6px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-16 {
    margin-top: 16px;
}
.-mt-5 {
    margin-top: -5px;
}
.mx-2 {
    margin-left: 2px;
    margin-right: 2px;
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.green-text {
    color: #059669;
    font-weight: 700;
}
.red-text {
    color: #dc2626;
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.h-20 {
    height: 20px;
}
.h-190 {
    height: 190px;
}
.h-292 {
    height: 292px;
}
.w-10 {
    width: 10px;
}
.w-25 {
    width: 25px;
}
.bg-red {
    background-color: #830000 !important;
}
/* END GLOBAL */

/* HEADER */
.header .glyph-icon.iconsminds-left.header {
    font-size: 28px;
    cursor: pointer;
    margin-top: 4px;
}
.header .glyph-icon.iconsminds-left.header::before {
    font-weight: 700;
}
.header .title-dash {
    margin-bottom: 0;
    margin-top: 12px;
    font-size: 22px !important;
}
.header .message-div .icon-message {
    float: right;
    margin-top: 8px;
    margin-right: 4px;
}
.header .select-custom {
    border: 1px solid #9ca3af;
    height: 42px;
    width: 260px;
    float: right;
    margin-right: 4px;
    border-radius: 10px;
}
.header .select-custom .icon-calendar {
    margin-top: 6px;
}
.header .select-custom .icon-drop-arrow {
    margin-top: 16px;
}
.header .select-custom .select-text {
    font-size: 14px !important;
    margin-top: 10px;
    margin-bottom: 0 !important;
    font-weight: 300;
}
/* END HEADER */

/* CARD */
.card.card-dash {
    padding: 8px 8px 6px 12px;
}
.card.card-dash.cursor-pointer {
    cursor: pointer;
}
.card.card-dash .header-div .icon-arrows {
    float: right;
    margin-top: 4px;
    margin-right: 4px;
}
.card.card-dash .header-div .icon-menu {
    float: right;
    margin-top: 4px;
    margin-right: 8px;
    cursor: pointer;
}
.card.card-dash .header-div .icon-menu::before {
    font-weight: bold;
}
.card.card-dash .header-card {
    font-size: 16px !important;
    margin-bottom: 0;
}
.card.card-dash .header-card span {
    font-size: 16px !important;
    margin-bottom: 0;
}
.card.card-dash .main-nominal {
    margin-top: 12px;
    font-size: 32px !important;
    color: #830000;
    font-weight: bold;
}
.card.card-dash .circle-bar {
    position: relative;
    text-align: center;
    vertical-align: top;
}
.card.card-dash .circle-bar .value-circle {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 100%;
    text-align: center;
}
.card.card-dash .circle-bar .value-circle .text-circle {
    font-size: 14px !important;
    line-height: 20px;
}
@media only screen and (min-width: 1366px) {
    .card.card-dash .circle-bar .value-circle .text-circle {
        font-size: 14px !important;
        margin-right: 8px;
    }
}
/* END CARD */

/* TABLE */
.table.table-no-padding thead tr th,
.table.table-no-padding tbody tr th,
.table.table-no-padding tbody tr td {
    padding: 0 12px;
}
.table.table-no-padding tbody tr td.pl-0 {
    padding-left: 0;
}
.table.table-th-red thead tr th {
    background-color: #830000;
    color: #ffffff;
    border: none !important;
}
.table.table-th-red tbody tr .td-red {
    background-color: #ff0000;
}
.table.table-th-red thead tr th,
.table.table-th-red tbody tr td {
    padding: 0.4px 8px;
}
#table-lembaga.table tbody tr td:first-child {
    cursor: pointer;
}
.table tbody tr td .check-row {
    display: inline;
    margin-right: 4px;
}
.table tbody tr td .check-row::before {
    background-color: #830000;
    color: #ffffff;
    border-radius: 50%;
}
.table .glyph-icon.icon-card {
    display: inline;
}
.table.table-py-0 tbody tr td {
    padding-top: 12px;
    padding-bottom: 11px;
}
.highcharts-data-table table caption {
    display: none;
}
/* END TABLE */

/* MENU CHART CUSTOM */
.menu-chart-custom {
    height: 260px;
    width: 200px;
    background-color: #ffffff;
    border: 1px solid rgb(153, 153, 153);
    border-radius: 4px;
    position: absolute;
    z-index: 10;
    top: 28px;
    right: 20px;
}
.menu-chart-custom ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
.menu-chart-custom ul li {
    cursor: pointer;
    padding: 4px 16px;
}
.menu-chart-custom ul li:hover {
    background-color: rgb(51, 92, 173);
    color: #ffffff;
}
/* END MENU CHART CUSTOM */

/* HIGHCHART */
.highcharts-scatter-series .highcharts-point {
    stroke-width: 5;
    stroke: #fbbf24;
}
.highcharts-contextbutton {
    background-color: red;
}
/* END HIGHCHART */

/* FILTER BOX */
.header .filter-box {
    position: absolute;
    background-color: #ffffff;
    z-index: 10;
    top: 48px;
    right: 16px;
    min-height: 220px;
    width: 380px;
    border-radius: 15px;
    box-shadow: 0 1px 15px rgb(0 0 0 / 4%), 0 1px 6px rgb(0 0 0 / 4%);
}
.header .filter-box .icon-filter {
    margin-top: 8px;
}
.header .filter-box .icon-filter::before {
    font-weight: bold;
}
.header .filter-box .list-filter-1 ul {
    list-style: none;
    margin: 0;
    padding: 5px 0;
}
.header .filter-box .list-filter-1 ul li {
    cursor: pointer;
    padding: 2px 8px;
}
.header .filter-box .list-filter-1 ul li:hover {
    background-color: #f3f4f6;
}
.header .filter-box .list-filter-1 ul li.selected {
    background-color: #830000;
    color: #ffffff;
}
.header .filter-box .list-filter-2 div:not(.selected) {
    background-color: #f3f4f6;
}
.header .filter-box .list-filter-2 .selected {
    background-color: #830000;
    color: #ffffff;
}
/* END FILTER BOX */

/* WINDOW */
.window-drag {
    position: absolute;
    top: 48px;
    right: 300px;
    z-index: 9;
    background-color: #ffffff;
    width: 350px;
    height: 250px;
    border: 1px solid black;
}
.window-drag .header-window {
    padding: 4px 8px;
    z-index: 10;
    background-color: #830000;
}
.window-drag .header-window .window-title {
    color: #ffffff;
    font-size: 14px !important;
    margin-bottom: 0;
}
.window-drag .header-window .btn-close-window {
    border: none;
    background-color: transparent;
    box-shadow: none;
    color: #ffffff;
    font-size: 18px !important;
}
/* END WINDOW */
