/* GLOBAL */
.pb-24 {
    padding-bottom: 24px;
}
.pl-0 {
    padding-left: 0;
}
.pr-0 {
    padding-right: 0;
}
.px- {
    padding-left: 0;
    padding-right: 0;
}
.mt-24 {
    margin-top: 24px;
}
.mt-16 {
    margin-top: 16px;
}
.green-text {
    color: #059669;
    font-weight: 700;
}
.red-text {
    color: #dc2626;
    font-weight: 700;
}
.text-center {
    text-align: center;
}
.h-292 {
    height: 292px;
}
/* END GLOBAL */

/* HEADER */
.header .glyph-icon.iconsminds-left.header {
    font-size: 30px;
    cursor: pointer;
}
.header .glyph-icon.iconsminds-left.header::before {
    font-weight: 700;
}
.header .title-dash {
    margin-bottom: 0;
    font-size: 30px !important;
}
.header .select-custom {
    border: 1px solid #9ca3af;
    height: 45px;
    border-radius: 10px;
}

.header .select-custom .glyph-icon.simple-icon-calendar.select {
    font-size: 30px;
    margin-top: 6px;
}
.header .select-custom .glyph-icon.iconsminds-arrow-down.select {
    font-size: 24px;
    margin-top: 4px;
}
.header .select-custom .glyph-icon.iconsminds-arrow-down.select::before {
    font-weight: 700;
    margin-left: 0 !important;
}
.header .select-custom .select-text {
    font-size: 18px !important;
    margin-top: 12px;
    font-weight: 300;
}
/* END HEADER */

/* CARD */
.card.card-dash {
    padding: 8px 8px 6px 12px;
}
.card.card-dash .header-card {
    font-size: 20px !important;
}
.card.card-dash .main-nominal {
    margin-top: 4px;
    font-size: 32px !important;
    color: #b91c1c;
    font-weight: bold;
}
/* END CARD */

/* TABLE */
.table.table-no-padding tbody tr td {
    padding: 0 12px;
}
.table.table-no-padding tbody tr td.pl-0 {
    padding-left: 0;
}
.table.table-th-red thead tr th {
    background-color: #b91c1c;
    color: #ffffff;
    border: none !important;
}
.table.table-th-red tbody tr .td-red {
    background-color: #ff0000;
}
#table-lembaga.table tbody tr td:first-child {
    cursor: pointer;
}
.table tbody tr td .check-row {
    display: inline;
    margin-right: 4px;
}
.table tbody tr td .check-row::before {
    background-color: #b91c1c;
    color: #ffffff;
    border-radius: 50%;
}
/* END TABLE */

/* HIGHCHART */
.highcharts-scatter-series .highcharts-point {
    stroke-width: 5;
    stroke: #fbbf24;
}
/* END HIGHCHART */

/* BOX */
#pdpt-box {
    cursor: pointer;
}
/* END BOX */
