.cursor-pointer {
    cursor: pointer;
}
.hidden {
    display: none;
}
.bold-700 {
    font-weight: 700;
}
.p-4 {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-right: 4px !important;
    padding-left: 4px !important;
}
.pb-2 {
    padding-bottom: 2px;
}
.pb-24 {
    padding-bottom: 24px;
}
.pl-0 {
    padding-left: 0;
}
.pl-1 {
    padding-left: 1px;
}
.pl-2 {
    padding-left: 2px;
}
.pl-8 {
    padding-left: 8px;
}
.pl-12 {
    padding-left: 12px;
}
.pr-0 {
    padding-right: 0;
}
.pr-8 {
    padding-right: 8px;
}
.pr-12 {
    padding-right: 12px;
}
.pt-2 {
    padding-top: 2px;
}
.pt-8 {
    padding-top: 8px;
}
.pt-16 {
    padding-top: 16px;
}
.py-3 {
    padding-bottom: 3px !important;
    padding-top: 3px !important;
}
.py-4 {
    padding-bottom: 4px !important;
    padding-top: 4px !important;
}
.px-0 {
    padding-left: 0;
    padding-right: 0;
}
.ml-8 {
    margin-left: 8px !important;
}
.mb-0 {
    margin-bottom: 0;
}
.mb-6 {
    margin-bottom: 6px !important;
}
.mb-16 {
    margin-bottom: 16px;
}
.mt-4 {
    margin-top: 4px !important;
}
.mt-6 {
    margin-top: 6px;
}
.mt-8 {
    margin-top: 8px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-24 {
    margin-top: 24px;
}
.mt-16 {
    margin-top: 16px;
}
.-mt-5 {
    margin-top: -5px;
}
.mx-2 {
    margin-left: 2px;
    margin-right: 2px;
}
.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}
.orange-text{
    color: #FFA500 !important;
    font-weight: 700;
}
.green-text {
    color: #059669 !important;
    font-weight: 700;
}
.red-text {
    color: #dc2626 !important;
    font-weight: 700;
}
.red-text-700 {
    color: #830000;
    font-weight: 700;
}
.grey-text {
    color: #b9b9b9;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.h-20 {
    height: 20px;
}
.h-190 {
    height: 190px;
}
.h-292 {
    height: 292px;
}
.h-498 {
    height: 498px;
}
.h-full {
    height: 100%;
}
.w-10 {
    width: 10px;
}
.w-50 {
    width: 50px;
}
.w-25 {
    width: 25px;
}
.bg-red {
    background-color: #830000 !important;
}
.bg-red-100 {
    background-color: #ee0000 !important;
}
.bg-green {
    background-color: #00bb4d !important;
}
.border-0 {
    border: none !important;
}
.border-r-0 {
    border-radius: 0 !important;
}
.float-right {
    float: right;
}
.text-bold {
    font-weight: bold;
}
.body-content {
    margin-top: -16px;
}
.rotate-360 {
    transform: rotate(180deg);
}
.font-medium {
    font-size: 1.2rem !important;
}
.lh-1 {
    line-height: 1.2;
}
