/* Footer */
span.copyright {
    font-size: 1rem;
    font-weight: normal;
}
.col-footer {
    margin-left: -0.5rem;
    margin-bottom: -0.5rem;
}
.link-footer > .arrow-tilted {
    transform: rotate(40deg);
    padding-left: 0.5rem;
}
.link-footer {
    font-size: 1rem;
    color: #0058e4 !important;
    padding-left: 2.8rem;
}
.footer-content-text {
    font-weight: 400;
    font-size: 1rem;
    padding-left: 0.5rem;
    display: inline-block;
    text-align: left;
}
.footer-text-nav {
    color: #606060;
    font-weight: 700;
    font-size: 1.1rem;
}
/* Header */
#mainMenu-trigger {
    cursor: pointer !important;
    z-index: 2;
}
#daftar-link {
    background-color: #0058e4;
    padding: 0.8rem 1rem;
    border-radius: 2.5rem;
    color: #fff;
}
#masuk-link:hover {
    color: #007bff;
}
#masuk-link {
    color: #000;
    font-weight: bold;
    padding: 1rem;
}
#logo {
    margin-right: 1.5rem;
}
#mainMenu nav > ul > li > a {
    text-transform: none !important;
    font-size: 1rem;
}
#mainMenu2 nav > ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-content-2 {
    display: flex;
    flex-direction: row;
    padding-right: 10rem;
}
.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header-content-1 {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
}
.header-content-1 .main-menu {
    margin-top: 0.5rem;
}
.header-content-2 .main-menu {
    margin-top: 0.5rem;
}
.col-mobile {
    display: none;
}
h1,
h2,
h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 700 !important;
}

p,
a,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif !important;
    font-weight: 400;
}
button {
    font-family: "Roboto", sans-serif !important;
    font-size: 1rem;
}
span {
    font-family: "Roboto", sans-serif !important;
    font-weight: bold;
}

/* General */
.heading-text h1 {
    font-size: 4.75rem !important;
}
.heading-text h5 {
    font-size: 1.25rem !important;
}
@media only screen and (min-width: 1440px) {
    .icon-container {
        right: 27.2rem;
    }
}
