.button-vendor:hover {
    background-color: #e0e0e0;
}
.button-vendor {
    border: 1px solid #414444;
    padding: 4px;
    background-color: #f9f9f9;
    color: #000;
    border-radius: 8px;
    margin-top: 4px;
}
.hidden {
    display: none;
}
div.inp-div-jenis > input {
    border-radius: 0 !important;
    z-index: 1;
    position: relative;
}

div.inp-div-jenis > .search-item {
    position: absolute;
    font-size: 18px;
    margin-top: -27px;
    z-index: 2;
    right: 0.5rem;
}
div.inp-div-jenis {
    position: relative;
}
.btn-full-round {
    border-radius: 20px !important;
}
.btn-light3 {
    background: #b3b3b3;
    color: white;
}
.icon-tambah {
    background: #505050;
    /* mask: url("{{ url('img/add.svg') }}"); */
    -webkit-mask-image: url("{{ url('img/add.svg') }}");
    mask-image: url("{{ url('img/add.svg') }}");
    width: 12px;
    height: 12px;
}
.icon-close {
    background: #d4d4d4;
    /* mask: url("{{ url('img/lock.svg') }}");
             */
    -webkit-mask-image: url("{{ url('img/lock.svg') }}");
    mask-image: url("{{ url('img/lock.svg') }}");
    width: 18px;
    height: 18px;
}
.icon-open {
    background: #d4d4d4;
    /* mask: url("{{ url('img/lock.svg') }}");
             */
    -webkit-mask-image: url("{{ url('img/lock.svg') }}");
    mask-image: url("{{ url('img/lock.svg') }}");
    width: 18px;
    height: 18px;
}
.popover {
    top: -80px !important;
}
.card-form-footer-full {
    padding: 1rem;
    position: fixed;
    bottom: 1rem;
    /* left: 32.8%; */
    z-index: 4;
    display: flex;
    justify-content: flex-start;
    height: 3.75rem;
    width: 87.5%;
    background: white;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}
.footer-form-container-full {
    width: 98%;
    display: flex;
    justify-content: flex-end;
}
.switch-toggle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.switch-toggle .label-switch {
    align-self: center;
    padding-left: 1.5rem;
}
#done {
    display: none;
}
#running {
    display: inline-block;
}
#paid {
    display: none;
}
#unpaid {
    display: inline-block;
}
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 65px;
    height: 30px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input[type="checkbox"]:checked + .slider {
    background-color: #2196f3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(28px);
    -ms-transform: translateX(28px);
    transform: translateX(28px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.typeahead.dropdown-menu {
    width: 20rem !important;
}
